/* 
colors:
dark: #3c1b1b
slightlydark: #4f2425
accent1: #e2c34a
acccent2: #b94626
 */

 
 body {
     margin: 0px;
     background: #3c1b1b;
     font-family: 'Lucida Sans', Arial, sans-serif;
    }
    
#header, #footer {
    background: #3c1b1b;
    font-size: 11pt;
    display: flex;
    height: 100px;
    width: auto;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
}

#nav-container {
    display: flex;
}

#header a {
    max-width: 6rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    flex: auto;
    height: fit-content;
    min-width: 64px;
}

.nav-item {
    color: black;
    background-color: lightgray;
}

.nav-item-current {
    background: darkred;
    color: white;
}

#header a:hover {
    background: #b94626;
    color: white;
}

#footer p {
    color: rgb(100, 130, 130);
}

#footer a {
    color: teal;
}

#content {
    width: auto;
    padding: 8px;
    background: #4f2425;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    gap: 8px;
}

@media (min-width: 820px) {
    #content {
        grid-template-columns: repeat(5, 156px);
    }
}

@media only screen and (max-width: 600px){
    #content {
        grid-template-columns: repeat(2, 156px);
    }

    #header {
        flex-direction: column;
    }
}

.drink-card {
    color: white;
    padding: 8px;
    border-radius: 10%;
    background: #3c1b1b;
    height: 200px;
    width: 140px;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.drink-card img {
    border-radius: 10%;
    height: 140px;
}

.drink-card p {
    margin: auto;
    position: relative;
    font-size: 11pt;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}

#search-field {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

#input {
    border: none;
    height: 100%;
    border-radius: 4px;
    padding: 0px;
    padding-left: 4px;
}

#search-button {
    float: right;
    right: 16px;
    height: 24px;
    width: 24px;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 4px;
}

#search-button:hover {
    background: #b94626;
}

.fa-search {
    color: black;
}

#query-text {
    width: 100%;
    text-align: center;
    color: rgb(150, 180, 180);
}

#drink-info {
    background: #4f2425;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

#image-showcase {
    height: 500px;
    align-self: center;
    z-index: 1;
}

#background-wrapper {
    align-self: center;
    position: absolute;
    width: 96%;
    height: 500px;
    overflow: hidden;
    border-radius: 1em;
}

#image-background {
    width: 100%;
    z-index: 0;
    object-fit: cover;
    filter: blur(6px);
    transform: scale(1.03);
}

#drink-info-content {
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    border-radius: 1em;
    background: rgba(0, 0, 0, .15);
    color: white;
    width: 96%;
    align-self: center;
}

#drink-info h3 {
    font-size: 18pt;
}

#drink-info-content li {
    color: darkgray;
}

#drink-info-content p {
    padding-left: 1em;
    padding-right: 1em;
    color: darkgray;
    font-size: 11pt;
}

ul {
    list-style-type: none;
    padding-left: 1em;
}